#root {
  text-align: center;
}

.my-container {
  width: 80% !important;
}

a {
  color: black !important;
}

.big-title {
  font-size: 4.5rem !important;
  font-weight: bold !important;
}

.semi-medium-title {
  font-size: 1.8rem !important;
  font-weight: 700 !important;
}

.medium-title {
  font-size: 1.2rem !important;
  font-weight: bold !important;
}

.general-text {
  font-size: 1.2rem !important;
  font-weight: 400 !important;
  display: flex !important;
  flex-direction: column !important;
  gap: 1.2rem !important;
}

.text-underline {
  text-decoration-line: underline !important;
}

.link-style {
  color: var(--ghost-accent-color) !important;
  text-decoration: underline !important;
  opacity: 1 !important;
}

.link-style:hover {
  opacity: 0.8 !important;
}

.guide_0_image {
  background-image: url("./assets/image/guide_0.png");
  padding-top: 400px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.footer-text-style {
  color: rgb(163 163 163) !important;
}

@media only screen and (max-width: 900px) {
  .big-title {
    font-size: 2.5rem !important;
  }

  .guide_0_image {
    padding-top: 50vw;
  }
  
}